*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    font-family: "Inter", sans-serif;
    font-size: 13px;
}

section.flex-container{
    display: flex;
    flex-direction: row;
    height: 600px;
}

nav.menu{
    flex-basis: 15rem;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: #9DB2BF;
    align-items: center;
}

header.navbar{
    text-align: center;
    padding: 1rem 0rem 1rem 0rem;
}

.navbar-icon{
    height: 2rem;
    width: auto;
    vertical-align: middle;
}

.navbar-title{
    display: inline-block;
    font-size: 1.5rem;
    vertical-align: middle;
}

main.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
}

.nav-btn{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-basis: 2.5rem;
    width: 12rem;
    border-radius: 10px;
    border-color: #999FA5;
    border-style: solid;
    text-align: left;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    cursor: pointer;
}

.nav-btn-icon{
    height: 1.5rem;
}

.nav-btn-txt{
    font-size: 0.75rem;
    word-wrap: break-word;
}

.content{
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: #ECECEC;
}









