*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    font-family: "Inter", sans-serif;
    font-size: 13px;
}

.btn{
    border-radius: 10px;
    border-style: solid;
    text-align: left;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    gap: 0.5rem;
    cursor: pointer;
    font-weight: bold;
}


.btn-light{
    border-color: #9DB2BF;
    background-color: #9DB2BF;
    color: #003049;
}

.btn-red{
    border-color: #780000;
    background-color: #780000;
    color: white;
}

.btn-edit{
    border-color: #B5CB88;
    background-color: #B5CB88;
    height: 2.5rem;
    width: 2.5rem;
}

.btn:hover{
    border-color: #003049;
    background-color: #003049;
    color: white;
}

section.flex-container{
    display: flex;
    flex-direction: row;
    height: 600px;
}

nav.menu{
    flex-basis: 15rem;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: #9DB2BF;
    align-items: center;
}

header.navbar{
    text-align: center;
    padding: 1rem 0rem 1rem 0rem;
}

.navbar-icon{
    height: 2rem;
    width: auto;
    vertical-align: middle;
}

.navbar-title{
    display: inline-block;
    font-size: 1.5rem;
    vertical-align: middle;
}

main.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
}

.nav-btn{
    display: flex;
    align-items: center;
    height: 2.5rem;
    width: 12rem;
}

.btn-icon{
    height: 1.5rem;
}

.btn-txt{
    font-size: 0.75rem;
    word-wrap: break-word;
}

.content{
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: white;
}

header.toolbar{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 1rem 1rem;
    background-color: #ECECEC;
    height: 50px;
    border-bottom: 1px solid darkgray;
}

h1.content-title{
    flex-basis: 20rem;
    flex-shrink: 0;
    flex-grow: 0;
}

nav.toolbar{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 0.25rem;
    flex-basis: 60%;

}

.toolbar-btn{
    display: flex;
    align-items: center;
    flex-basis: 6rem;
    height: 2.5rem;
    flex-shrink: 0;
    flex-grow: 1;
}

section.data-view{
    display: flex;
    height: 550px;
}

nav.data-navbar{
    flex-basis: 20rem;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: #ECECEC;
    align-items: center;
    border-right: 1px solid darkgray;
}

header.searchbox{
    display: flex;
    align-items: center; /* allineamento verticale */
    justify-content: center;
    gap: 0.5rem;
    height: 4rem;
    padding: 1rem 0.5rem 1rem 0.5rem;
    border-bottom: 1px solid darkgray;
}

input.find{
    height: 1.5rem;
    background-color: #D9D9D9;
    border: #003049;
    border-radius: 10px;
}

main.searchbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-bottom: 1px solid darkgray; 
}

div.searchbox-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
   
}

div.searchbox-lbl{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    height: 3rem ;

}

div.searchbox-input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 3rem ;
}

img.btn-edit-icon{
    height: fit-content;
}

label.lbl-small{
    font-size: 0.75rem;
    height: 1rem;
    color: #003049;
    font-weight: bold;
}

input.input-small{
    background-color: #D9D9D9;
    border: #003049;
    border-radius: 2px;
    height: 0.8rem;
    font-size: 0.75rem;
    width: 8.5rem;
}